extends ../shared/master

block append head
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/genres/all-genres.css')

block append scripts
    script(src="/public/assets/js/genres/allGenres/scripts.js")

block content
    .container.center-align
        h4 
            | All Genres
    
    .collection



