extends ../shared/master

block append head
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/genres/games-from-genre.css')

block append scripts
    script(src="/public/assets/js/genres/gamesFromGenre/scripts.js")

block content
    .container.center-align
        .row
            .center-align
                h5
                    | Genre:
                h5.category-text
                    | #{genreName}
        
        
        
        ul.pagination
            - for (var i=1; i<=pagesCount; i++)
                li.waves-effect
                    a(href='/genres/'+genreName+'/'+i+' ')= i

            


            //- .card
            //-     .card-image
            //-         img(src='https://upload.wikimedia.org/wikipedia/commons/f/f8/Jonathan_Carroll_as_Superman.jpg')
            //-         span.card-title Game Title
            //-         span Rating: 8/10
            //-     .card-content
            //-         p
            //-             | I am a very simple card. I am good at containing small bits of information.
            //-             | I am convenient because I require little markup to use effectively.
            //-     .card-action
            //-         a(href='#') This is a link





