extends ../shared/master

block append head
    link(rel="stylesheet", type="text/css", href='/public/assets/styles/genres/games-from-genre.css')

block append scripts
    script(src="/public/assets/js/genres/gamesFromGenre/scripts.js")

block content
    h6
        | Category: #{genreName}



