include ./nav

<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
            link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
            link(rel="stylesheet", href="/public/assets/styles/materialdesignicons.min.css")
            link(rel="stylesheet", type="text/css", href='/public/assets/styles/main.css')
            link(rel="stylesheet", type="text/css", href='/public/assets/styles/side-nav.css')
            title Gaming Site
    body
        +nav(user)
        block content

        block scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
            script(src="/public/assets/js/app.js")
            script(src="/public/assets/js/core/side-nav/side-nav.js")
            script(src="/public/assets/js/core/nav/nav.js")
