mixin nav()
    div.navbar-fixed
        nav.main-nav
            div.nav-wrapper
                a.brand-logo(href="/")
                    | Gameszila
                a.button-collapse.hide-on-large(href='#', data-activates='mobile-demo')
                    i.material-icons menu
                ul.right.hide-on-med-and-down
                    if user
                        li
                            a(href="/user/profile")
                                | Hello, #{user.firstname}
                    li
                        a.dropdown-button(href="#", data-activates="gamesDropdown")
                            | Games 
                            i.material-icons.right
                                | arrow_drop_down 
                            // Dropdown Structure
                        ul#gamesDropdown.dropdown-content
                            li
                                a(href="#!")
                                    | Genres
                            li.divider
                            li
                                a(href="#!")
                                    | Platforms
                    if user
                        li
                            a(href="/auth/logout")
                                | Log out
                    else
                        li
                            a(href="/auth/login")
                                | Log in
                        li
                            a(href="/auth/register")
                                | Register


    ul#mobile-demo.side-nav
        li
            a(href="sass.html")
                | Sass
        li
            a(href="badges.html")
                | Components
        li
            a(href="collapsible.html")
                | Javascript
        li
            a(href="mobile.html")
                | Mobile
