mixin nav()
    div.navbar-fixed
        nav.deep-purple.lighten-1
            div.nav-wrapper
                .logo-wrapper.right
                    .user-info
                      if user
                        div
                            img.circle.responsive-img.valign.profile-image(src=user.avatar, width='38px', height='38px', alt='')
                        div
                            a#profileDropdownTrigger.dropdown-trigger.waves-effect.waves-purple(href="#", data-target="profileDropdown")
                                | Hello, #{user.firstname}
                    .logo
                        a(href="/")
                            | Gameszilla

                a.sidenav-trigger.hide-on-large(href='#', data-target='slide-out')
                    i.material-icons menu
                ul.left.hide-on-med-and-down
                    li
                        a.waves-effect.waves-purple(href='/')
                            | Home
                    li
                        a#gamesDropdownTrigger.dropdown-trigger.waves-effect.waves-purple(href="#", data-target="gamesDropdown")
                            | Games 
                            i.material-icons.right
                                | arrow_drop_down 
                    if user
                        li
                            a.waves-effect.waves-purple(href="/auth/logout")
                                | Log out
                    else
                        li
                            a.waves-effect.waves-purple(href="/auth/login")
                                | Log in
                        li
                            a.waves-effect.waves-purple(href="/auth/register")
                                | Register


    ul#slide-out.sidenav
      li.sidenav-header.deep-purple.lighten-1
            if user
              a.waves-effect.waves-purple.center-align.white-text(href="#")
               h5 #{user.firstname}
            else 
              a.waves-effect.waves-purple.center-align.white-text(href="/")
               h5 Gameszilla
      li.white
        ul.collapsible
          li
            a.collapsible-header.waves-effect.waves-purple.center-align
              | Games
              i.material-icons.right(style='margin-right:0;') arrow_drop_down
            .collapsible-body
              ul
                li
                    a.waves-effect.waves-purple.center-align
                          | Genres
                li
                    a.waves-effect.waves-purple.center-align
                          | Platforms
          .divider
        if user
            li
                a.waves-effect.waves-purple(href="/auth/logout")
                    i.material-icons.mdi.mdi-logout
                    | Log out
        else
            li
                a.waves-effect.waves-purple(href="/auth/login")
                    i.material-icons.mdi.mdi-login
                    | Log in
            li
                a.waves-effect.waves-purple(href="/auth/register")
                    i.material-icons.mdi.mdi-account-plus
                    | Register
    ul#gamesDropdown.dropdown-content
        li
            a.waves-effect.waves-purple(href="/genres")
                | Genres
        li.divider
        li
            a.waves-effect.waves-purple(href="#")
                | Platforms
    ul#profileDropdown.dropdown-content
        li
            a.waves-effect.waves-purple(href="/users/profile/edit")
                | Profile
