extends ../shared/master

block content
    div.row
        form.col.s12(action="/auth/login", method="post")
            div.row
                h2
                    span.col.s12
                    | Log in
            div.row
                div.input-field.col.s6
                    input.validate(type="email", name="username", placeholder="Email")
                    label(for="email")
                        | Email Address
                div.input-field.col.s6
                    input.validate(type="password", name="password", placeholder="Password")
                    label(for="password")
                        | Password
            div.row
                button.btn(type="submit", value="Log in")
                    | Log in