.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.game-cover {
    height: 300px;
    width: 300px;
}

.wr-slider {
    max-width: 800px;
    margin: 0 auto;
}

.slick-prev:before {
    color: #919191;
}

.slick-next:before {
    color: #919191;
}

.slider-games {
    background-color: #fff;
    margin: 0 auto;
}

.game-box {
    text-align: center;
}

.game-pic {
    width: 180px;
    height: 250px;
    margin: 0 auto;
}