.parallax-container {

}

.parallax-container .section {
    width: 100%;
}

.parallax img {
    height: 1000px;
    width: 1000px;
    -webkit-filter: blur(10px);
    filter: blur(20px) grayscale(80%);
}

.game-cover {
    height: auto;
    width: 300px;
}

.wr-slider {
    max-width: 800px;
    margin: 0 auto;
}

.slick-prev:before {
    color: #919191;
}

.slick-next:before {
    color: #919191;
}

.slider-games {
    background-color: #fff;
    margin: 0 auto;
}

.game-box {
    text-align: center;
}

.game-pic {
    width: 230px;
    height: auto;
}

.active {
    z-index: 9999;
}

/* .card {
    z-index: -1;
} */

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}
