mixin nav()
    nav.main-nav.navbar-fixed
        div.nav-wrapper
            a(href="#", class="brand-logo")
                | favicon
            ul.right.hide-on-med-and-down
                li
                    a(href="#")
                        | Games
                li
                    a(href="/auth/login")
                        | Log in
                li
                    a(href="/auth/register")
                        | Register