mixin nav()
    // Dropdown Structure
    ul#dropdown1.dropdown-content
        li
            a(href="#!")
                | Genres
        li.divider
        li
            a(href="#!")
                | Platforms

    div.navbar-fixed
        nav.main-nav
            div.nav-wrapper
                a.brand-logo(href="#")
                    | favicon
                ul.right.hide-on-med-and-down
                    li
                        a.dropdown-button(href="#", data-activates="dropdown1")
                            | Games
                            i.material-icons.right
                                | arrow_drop_down
                    if user
                        =user.username
                        li
                            a(href="/auth/logout")
                                | Log out
                    else
                        li
                            a(href="/auth/login")
                                | Log in
                        li
                            a(href="/auth/register")
                                | Register