nav {
    font-weight: bold;
}

#platformsDropdown {
    overflow-y: auto;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.logo {
    font-size: 2.1em;
    background: linear-gradient(to right, #b3ffab, #12fff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */


}

.user-info {
    flex: 1 1;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.profile-image {
    margin-top: 10px;
    margin-right: 10px;
}

.hello-user{

}
