@import url('./materialdesignicons.min.css');
@import url('./core/nav.css');
@import url('./core/side-nav.css');
body {
    font-size: 16px;
}

.tabs .tab a:hover,
.tabs .tab a.active,
    {
    color: #673ab7 !important;
}

.indicator {
    background-color: #673ab7 !important;
}

div.error {
    color: red;
}

.container {
    margin-top: 100px;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;  
  }

